@import "../../../../assets/variables";

.detail {
    width: 100%;
    display: flex;
    gap: 1rem;

    &__left {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__content {
            width: 100%;
            padding: 2rem 1rem;
            background-color: $white;
            border-radius: $radius;
            box-shadow: $shadow;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__title {
                display: flex;
                flex-direction: column;
                gap: 5px;

                b {
                    @include title;
                    color: $dark-gray;
                }

                p {
                    font-size: .9rem;
                    color: $gray;
                }
            }

            &__balance {
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    color: $black;
                    font-size: 1.1rem;
                    font-weight: 500;
                }

                span {
                    padding: .2rem .5rem;
                    border-radius: $radius;
                    background-color: $red;
                    color: $white;
                    font-weight: 600;
                }
            }

            &__elements {
                display: flex;
                gap: 10px;

                p {
                    color: $black;
                    font-size: 1.1rem;
                    font-weight: 500;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: $black;
                    text-wrap: nowrap;
                    font-weight: 600;

                    i {
                        color: $blue;
                    }

                    &:hover {
                        i {
                            animation: bounce 1.5s ease-in-out;
                        }
                    }
                }

                button {
                    min-width: 30px;
                    height: 30px;
                    border-radius: $radius;
                    border: 1px solid $green;
                    background-color: $white;
                    cursor: pointer;
                    color: $green;
                    transition: $transition;

                    &:hover {
                        background-color: $green;
                        color: $white;
                        transform: scale(.9);
                    }

                    &:first-child {
                        color: $blue;
                        border-color: $blue;

                        &:hover {
                            color: $white;
                            background-color: $blue;
                        }
                    }

                    &:last-child {
                        border-color: $red;
                        color: $red;

                        &:hover {
                            background-color: $red;
                            color: $white;
                        }
                    }
                }
            }

            &__bottom {
                border-top: 1px solid $dark-gray;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding: 1rem 0 0;

                &__date {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    b {
                        color: $dark-gray;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }

                    p {
                        color: $gray;
                        font-size: .9rem;
                        font-weight: 500;
                    }
                }

                &__btns {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: .5rem 1rem;
                        border-radius: $radius;
                        border: 1px solid $green;
                        background-color: $white;
                        color: $green;
                        font-weight: 600;
                        cursor: pointer;
                        transition: $transition;

                        &:hover {
                            background-color: $green;
                            color: $white;
                        }

                        &:first-child {
                            border-color: $blue;
                            color: $blue;

                            &:hover {
                                background-color: $blue;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }

        &__note {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: .5rem 1rem;
            background-color: $white;
            border-radius: $radius;
            box-shadow: $shadow;

            &__title {
                font-size: 1rem;
                color: $dark-gray;
            }

            &__btn {
                min-width: 30px;
                height: 30px;
                border-radius: $radius;
                border: 1px solid $green;
                background-color: $white;
                cursor: pointer;
                color: $green;
                transition: $transition;

                &:hover {
                    background-color: $green;
                    color: $white;
                    transform: scale(.9);
                }
            }
        }
    }

    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__top {
            width: 100%;
            border-bottom: 1px solid $gray;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            span {
                position: relative;
                top: 1px;
                padding: .2rem .5rem;
                border-radius: 10px 10px 0 0;
                border: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                transition: $transition;
            }
        }

        &__content {
            &__body {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                &__item {
                    min-width: 400px;
                    flex: 1;
                    background-color: $white;
                    border-radius: $radius;
                    box-shadow: $shadow;
                    padding: 1rem;

                    &__top {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        &__title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                color: $white;
                                background-color: $gray;
                                border-radius: $radius;
                                padding: .2rem 1rem;
                                cursor: pointer;
                            }

                            p {
                                font-size: .9rem;
                                color: $black;
                                font-weight: 500;
                            }
                        }

                        &__info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                width: 60%;
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                b {
                                    color: $black;
                                    font-size: 1rem;
                                    font-weight: 500;
                                }

                                p {
                                    color: $dark-gray;
                                    font-size: .9rem;
                                    font-weight: 500;
                                }
                            }

                            p {
                                color: $dark-gray;
                                font-size: .9rem;
                                font-weight: 500;
                            }
                        }
                    }

                    &__bottom {
                        margin-top: 1rem;
                        padding-top: 1rem;
                        border-top: 1px solid #000;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        &__info {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            b {
                                color: $black;
                                font-size: 1rem;
                                font-weight: 500;
                            }

                            p {
                                color: $dark-gray;
                                font-size: .9rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .detail {
        flex-direction: column;

        &__left {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .detail {
        &__right {
            &__content {
                &__body {
                    &__item {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.actAttendance {
    background-color: $white;
    border: 1px solid $gray !important;
    border-bottom: 1px solid $white !important;
}