@import "../../../../assets/variables";

.detail {
    display: flex;
    align-items: start;
    gap: 1rem;

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__content {
            width: 100%;
            padding: 1rem;
            background-color: $white;
            border-radius: $radius;
            box-shadow: $shadow;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__items {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                &__name {
                    margin-bottom: .5rem;

                    b {
                        cursor: pointer;
                        padding: .5rem 1rem;
                        background-color: $gray;
                        border-radius: $radius;
                        color: $white;
                        font-weight: 500;
                        color: $white;
                        transition: $transition;

                        &:hover {
                            background-color: $blue;
                        }
                    }
                }

                &__title {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: .5rem;

                    h3 {
                        font-size: 1.2rem;
                        color: $black;
                        font-weight: 600;
                    }

                    p {
                        font-size: 1.1rem;
                        color: $dark-gray;
                        font-weight: 600;
                        cursor: pointer;
                        transition: $transition;

                        &:hover {
                            color: $blue;
                        }
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    b {
                        font-size: 1.1rem;
                        color: $black;
                        font-weight: 600;
                    }

                    p {
                        color: $dark-gray;
                        font-weight: 500;
                        font-size: .9rem;
                    }
                }
            }

            &__btns {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                flex-wrap: wrap;

                span {
                    min-width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: $radius;
                    border: 1px solid $green;
                    background-color: $white;
                    font-size: 0.9rem;
                    cursor: pointer;
                    color: $green;
                    transition: $transition;

                    &:hover {
                        background-color: $green;
                        color: $white;
                        transform: scale(0.9);
                    }
                }

                span:nth-child(1) {
                    border: 1px solid $blue;
                    color: $blue;

                    &:hover {
                        background-color: $blue;
                        color: $white;
                    }
                }

                span:nth-child(2) {
                    border: 1px solid $red;
                    color: $red;

                    &:hover {
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }

        &__notification {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: .5rem 1rem;
            background-color: $white;
            border-radius: $radius;
            box-shadow: $shadow;

            &__title {
                font-size: 1rem;
                color: $dark-gray;
            }

            &__btn {
                min-width: 30px;
                height: 30px;
                border-radius: $radius;
                border: 1px solid $green;
                background-color: $white;
                cursor: pointer;
                color: $green;
                transition: $transition;

                &:hover {
                    background-color: $green;
                    color: $white;
                    transform: scale(.9);
                }
            }
        }
    }

    &__right {
        width: 50%;
        background-color: $white;
        padding: .5rem 1.2rem;
        border-radius: $radius;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        min-width: 400px;

        &__content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 100%;
                height: 1px;
                background-color: $black;
            }


            &__name {
                font-size: 1rem;
                color: $black;
                font-weight: 600;
                position: relative;
                margin-left: .5rem;
                cursor: pointer;
                width: 40%;

                i {
                    font-size: .9rem;
                    color: $green;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: -1rem;
                    top: 55%;
                    transform: translateY(-45%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $blue;
                    transition: $transition;
                }

                &:hover {
                    &::after {
                        left: -.6rem;
                    }
                }
            }

            &__phone {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $black;
                text-wrap: nowrap;
                font-weight: 600;

                i {
                    font-size: 1.1rem;
                    color: $blue;
                }

                &:hover {
                    i {
                        animation: bounce 1.5s ease-in-out;
                    }
                }
            }

            &__btn {
                min-width: 25px;
                height: 25px;
                border-radius: $radius;
                border: 1px solid $blue;
                background-color: $white;
                cursor: pointer;
                color: $blue;
                transition: $transition;

                &:hover {
                    background-color: $blue;
                    color: $white;
                    transform: scale(.95);
                }
            }

            &__popUp {
                position: absolute;
                top: 0;
                right: 2rem;
                background-color: $white;
                box-shadow: $shadow;
                border-radius: $radius;
                padding: .5rem 1rem;
                z-index: 9;

                &__list {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: $black;
                        font-size: .9rem;
                        cursor: pointer;
                    }

                    li {
                        &:nth-child(1) {
                            i {
                                color: $yellow;
                            }
                        }

                        &:nth-child(2) {
                            i {
                                color: $green;
                            }
                        }

                        &:nth-child(3) {
                            i {
                                color: $blue;
                            }
                        }

                        &:nth-child(4) {
                            i {
                                color: $purple;
                            }
                        }

                        &:last-child {
                            i {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }

        &__content {
            &:last-child {
                &::after {
                    background-color: transparent;
                }
            }
        }
    }
}

.attendance {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;

    &__top {
        width: 100%;
        border-bottom: 1px solid $gray;
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            position: relative;
            top: 1px;
            padding: .2rem .5rem;
            border-radius: 10px 10px 0 0;
            border: 1px solid transparent;
            border-bottom: 1px solid transparent;
            cursor: pointer;
            transition: $transition;
        }
    }

    &__content {
        padding: 1rem;
        border-radius: $radius;
        background-color: $white;
        box-shadow: $shadow;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .month__selector {
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    padding: .3rem 1rem;
                    background-color: $bc;
                    cursor: pointer;
                    border-radius: $radius;
                }
            }
        }

        &__container {
            display: flex;
        }
    }
}

.actAttendance {
    background-color: $white;
    border: 1px solid $gray !important;
    border-bottom: 1px solid $white !important;
}

.monthAct {
    background-color: $green !important;
    color: $white;
}

.mt {
    margin-top: 1rem;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@media only screen and (max-width: 991px) {
    .detail {
        flex-direction: column;

        &__left {
            width: 100%;

            &__content {
                padding: 1rem .5rem;

                &__items {
                    &__name {
                        margin-bottom: .5rem;

                        b {
                            padding: .2rem .8rem;
                        }
                    }

                    &__title {
                        h3 {
                            font-size: 1.1rem;
                        }

                        p {
                            font-size: 1rem;
                        }
                    }

                    span {
                        b {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        &__right {
            width: 100%;
            padding: 1rem;
            overflow-x: scroll;
            min-width: auto;

            &__content {
                min-width: 390px;

                &__name {
                    font-size: .9rem;
                }

                &__phone {
                    font-size: .9rem;

                    i {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}