@import "../../../assets/variables";

.allIntro {
    max-width: 100%;
    height: 70px;
    margin-top: 70px;
    margin-left: 16rem;
    transition: all .3s;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;

    &__items {
        display: flex;
        align-items: center;
        gap: 5px;

        &__link {
            h1 {
                @include title;
                font-weight: 700;
                color: #4B5563;
            }
        }
    }
}

.close {
    margin-left: 75px;
}


@media only screen and (max-width: 1050px) {
    .allIntro {
        margin-left: 0;
        padding-left: .5rem;
    }
}